.barCard {
  border-radius: .5em;
  width: 65%;
  position: relative;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  -webkit-box-shadow: 3px 6px 47px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 47px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 47px -1px rgba(0,0,0,0.75);
  background-color: rgba(153, 204, 255, .80);
}
.barCard > div {
  font-size: 1.5em;
  display: inline-block;
}
.barName {
  padding-top: .4em;

}
.btns {
  width: 7em;

}
.goingBtn {
  background-color: rgb(51, 153, 255);
  color: white;
}
.removeBtn {
  background-color: rgb(48, 103, 194);
}
.rsvpAmt {
  padding-top: .4em;
  float: right;
}
.star {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 999;
  -webkit-transform: rotate(0.23turn);
  -moz-transform: rotate(0.23turn);
  -ms-transform: rotate(0.23turn);
  -o-transform: rotate(0.23turn);
  transform: rotate(0.23turn);
  text-shadow: .1em .1em .1em black;
}
.gold {
  color:gold;
}
.silver {
  color:silver;
}
.bronze {
  color: rgb(230,127,50);
}
