.search {
  width: 70%;
  margin: 15px auto;

}
.search-input {
  width: 77%;
  height:2.5em;
  display:inline-block;
  padding-left: 40px;
  font-size: 1.5em;
}
.search-icon {
  position: relative;
  left: 35px;
  top: 2px;
  z-index: 999;


}
.search-btn {
  background-color: rgb(51, 153, 255);
  color: white;
  width: 15%;
  height: 3.5em;
  margin-top: -5px;
}
body{
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fade {
  opacity: 1;
}
.fade.ng-enter {
  transition: 1s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;

}
.fade.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}
